@charset 'utf-8';

@font-face {
    font-family:'NotoSansKR';
    src: url(../fonts/NotoSansKR.ttf);
}
:root{
    --main-color:#ba000c;
    --text-color-222:#222;
    --text-color-80:#808080;
    --sub-color-6f:#4f4c4b;
    --sub-color-faf9f7:#faf9f7;
    --sub-color-fff:#fff;

    font-family:'NotoSansKR';
    font-weight:500;
    font-size:14px;
    line-height:1.5;
    color:var(--text-color-222)
}


#wrap{
    overflow:hidden;
}

.container{
    width:940px;
    margin:0 auto;
}

/* header style */
#header{
    position:relative;
    padding:12px 0 6px;
    border-bottom:3px solid var(--main-color);
    background:var(--sub-color-fff);
    z-index:100;
}
#header .container{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
#header h1{
    display:flex;
    order:2;
    width:20%;
    margin-bottom:6px;
    justify-content: center;
}
#header h1 a{
    display:flex;
    width:66px;
    height:55px;
    background:url(../images/logo.png) no-repeat center;
    background-size:contain;
    text-indent:-999999px;;
}
#header .q-nav01{
    order:1;
    width:40%;
}
#header .q-nav01 ul{
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-start;
    font-weight:900;
    font-size:13px;
}
#header .q-nav01 li:first-child{
    margin-right:20px;
    color:var(--main-color);
}
#header .q-nav01 a{
    display:flex;
    flex-flow:row nowrap;
}
#header .q-nav01 img{
    width:16px;
    margin-right:4px;
}
#header .q-nav02{
    order:3;
    width:40%;
    text-align:right;
}
#header .q-nav02 ul{
    display:flex;
    justify-content:end;
    font-weight:600;
    font-size:11px;
    color:var(--text-color-222);
}
#header .q-nav02 li{
    margin-left:10px;
}
#header .main-nav{
    width:100%;
    order:4;
}
#header .main-nav ul{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}
#header .main-nav a{
    display:grid;
    width:100%;
    padding:10px 0 4px;
    background:var(--sub-color-fff);
    font-size:12px;
    text-align:center;
}
#header .main-nav a span:first-child{
    font-weight:900;
    font-size:18px;
}
#header .main-nav a span:last-child{
    opacity:0;
    transition:0.2s;
}
#header .main-nav a:hover{
    background:var(--main-color);
    color:var(--sub-color-fff);
}
#header .sub-nav{
    display:none;
    position:absolute;
    left:0;
    right:0;
    top:100%;
    padding:15px 0 40px;
    background:var(--sub-color-6f);
    color:var(--text-color-80);
    text-align:center;
}
#header .sub-nav ul{
    width: calc(100% / 6)
}
#header .sub-nav li{
    line-height:2;
}
#header .sub-nav li:hover{
    color:var(--sub-color-faf9f7);
}
#header .pos-fixed{
    position:fixed;
    top:30px;
    left:calc(50% + 510px);
    width:89px;
    height:89px;
}

/* footer style */
#footer{
    width:100%;
    background:var(--main-color);
    color:var(--sub-color-fff)
}
#footer{
    padding:30px 0;
}
#footer ul{
    display:flex;
    flex-flow:row nowrap;
    margin-bottom:20px;
    font-size:11px;
}
#footer ul li{
    position:relative;
    margin-right:20px;
}
#footer ul li:hover{
    text-decoration:underline;
}
#footer ul li::after{
    content:'';
    display:block;
    position:absolute;
    right:-10px;
    top:4px;
    width:1px;
    height:10px;
    background:var(--sub-color-fff);
}
#footer ul li:last-child::after{
    display:none;
}
#footer address{
    font-size:11px;
    opacity:0.6;
}